[VPN] # Required
# The name of the tunnel interface within network settings
vpn_name: <My VPN Interface>

[MACOS] # Required
# Enable or disable the notifications
notifications_enabled: True

[NETWORKING] # Required
# Hosts addresses which should be routed towards the VPN
address_to_tunnel: 192.168.1.1,10.1.1.1
# Networks which should be routed towards the VPN
networks_to_tunnel: 192.168.0/24,10/8
# Domains which should be resolved using the VPN DNS servers for DNS Routing (currently not used)
vpn_domains: my.domains.com,another.domain.com
# When connected to the given SSID, don't try to connect the vpn.
excluded_ssid: <SSID To Exclude>

[GENERAL] # Optional
# Enable or disable debugging
debug: False
# Number of retries for reconnecting
retry_count: 3
# Connection bar width in logfile
connection_bar_width: 50
# Log File for output of VPN script
log_file: /usr/local/var/log/vpn.log

[TIMEOUTS] # Optional
# Timeout for connect
connect_timeout: 5
# Timeout for wifi switch
wifi_timeout: 60
# Maximum number of packet failures before restarting the tunnel
max_failures: 5
# Sleep timer
vpn_sleep_timer = 3

[MOUNTS] # Optional, except for mount_folders
# Mount the folders or skip this step
mount_folders = False
# The username used for mounting the folders
mount_username = <Username used for mounting drives>
# The username used for mounting the folders
mount_password = <Password used for mounting drives>
# Home folder
home_folder: <myserver.myfolder.local/myusername>
# Team folder
team_folder: <myserver.myteamfolder.local/teamname>
# TimeMachine sparsebundle location in home folder
time_machine_sparse_bundle: /TimeMachine/TimeMachine.sparsebundle
# TimeMachine sparsebundle password
time_machine_sparse_bundle_password: <Password for timemachine bundle>
